<!-- Beyonders Actor Sheet Template -->
<form class="{{cssClass}} beyonders-style" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>
    <div class="header-fields">
      <h1 class="charname">
        <input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
      </h1>
      <div class="grid grid-2">
        <div class="form-group">
          <label>Type</label>
          <select name="system.type">
            {{#select system.type}}
            <option value="hero">Hero</option>
            <option value="villain">Villain</option>
            <option value="pawn">Pawn</option>
            {{/select}}
          </select>
        </div>
        {{#if (eq system.type "hero")}}
        <div class="form-group">
          <label>Level</label>
          <input type="number" name="system.level" value="{{system.level}}" min="0" max="30"/>
        </div>
        {{/if}}
      </div>
    </div>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="tab active" data-tab="attributes">Attributes</a>
    <a class="tab" data-tab="description">Description</a>
    <a class="tab" data-tab="inventory">Inventory</a>
  </nav>

  <section class="sheet-body">
    <!-- Attributes Tab -->
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <div class="attributes">
        <div class="attribute">
          <label>Health</label>
          <div class="resource">
            <input type="number" name="system.resources.health.value" value="{{system.resources.health.value}}" min="{{system.resources.health.min}}" max="{{system.resources.health.max}}"/>
            <span>/</span>
            <input type="number" name="system.resources.health.max" value="{{system.resources.health.max}}" min="0"/>
          </div>
        </div>

        <div class="attribute">
          <label>Power</label>
          <div class="resource">
            <input type="number" name="system.resources.power.value" value="{{system.resources.power.value}}" min="{{system.resources.power.min}}" max="{{system.resources.power.max}}"/>
            <span>/</span>
            <input type="number" name="system.resources.power.max" value="{{system.resources.power.max}}" min="0"/>
          </div>
        </div>

        {{#if (eq system.type "hero")}}
        <div class="attribute">
          <label>Goodness</label>
          <div class="resource">
            <input type="number" name="system.resources.goodness.value" value="{{system.goodness.value}}" min="0" max="{{system.goodness.max}}"/>
            <span>/</span>
            <input type="number" name="system.resources.goodness.max" value="{{system.goodness.max}}" min="0"/>
          </div>
        </div>
        {{/if}}

        {{#if (eq system.type "villain")}}
        <div class="attribute">
          <label>Wickedness</label>
          <div class="resource">
            <input type="number" name="system.resources.wickedness.value" value="{{system.wickedness.value}}" min="0" max="{{system.wickedness.max}}"/>
            <span>/</span>
            <input type="number" name="system.resources.wickedness.max" value="{{system.wickedness.max}}" min="0"/>
          </div>
        </div>
        {{/if}}
      </div>
    </div>

    <!-- Description Tab -->
    <div class="tab description" data-group="primary" data-tab="description">
      {{#if (or (eq system.type "hero") (eq system.type "villain"))}}
      <div class="form-group">
        <label>Hair Color</label>
        <input type="text" name="system.background.hairColor" value="{{system.background.hairColor}}"/>
      </div>
      <div class="form-group">
        <label>Biography</label>
        <textarea name="system.background.biography">{{{system.background.biography}}}</textarea>
      </div>
      {{/if}}
    </div>

    <!-- Inventory Tab -->
    <div class="tab inventory" data-group="primary" data-tab="inventory">
      <div class="inventory">
        <h3>Items</h3>
        <ol class="inventory-list">
        {{#each items as |item id|}}
          <li class="item" data-item-id="{{item._id}}">
            <img class="item-image" src="{{item.img}}" title="{{item.name}}"/>
            <h4 class="item-name">{{item.name}}</h4>
            <p class="item-summary">{{item.system.rarity}} - {{item.system.price}} gp</p>
          </li>
        {{/each}}
        </ol>
      </div>
    </div>
  </section>
</form>