<!-- Beyonders Item Sheet Template -->
<form class="{{cssClass}} beyonders-style" autocomplete="off">
  <header class="item-header">
    <img class="item-image" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>
    <div class="header-fields">
      <h1 class="item-name">
        <input name="name" type="text" value="{{item.name}}" placeholder="Item Name"/>
      </h1>
      <div class="grid grid-2">
        <div class="form-group">
          <label>Type</label>
          <select name="type">
            {{#select type}}
            <option value="weapon">Weapon</option>
            <option value="spell">Spell</option>
            {{/select}}
          </select>
        </div>
        <div class="form-group">
          <label>Rarity</label>
          <select name="system.rarity">
            {{#select system.rarity}}
            <option value="common">Common</option>
            <option value="uncommon">Uncommon</option>
            <option value="rare">Rare</option>
            <option value="legendary">Legendary</option>
            {{/select}}
          </select>
        </div>
      </div>
    </div>
  </header>

  <section class="sheet-body">
    <div class="grid grid-2">
      <div class="form-group">
        <label>Price</label>
        <input type="number" name="system.price" value="{{system.price}}" min="0"/>
      </div>

      {{#if (eq type "weapon")}}
      <div class="form-group">
        <label>Damage</label>
        <input type="number" name="system.damage" value="{{system.damage}}" min="1"/>
      </div>
      {{/if}}

      {{#if (eq type "spell")}}
      <div class="form-group">
        <label>Cost</label>
        <input type="number" name="system.cost" value="{{system.cost}}" min="1"/>
      </div>
      {{/if}}
    </div>

    <div class="form-group">
      <label>Description</label>
      <textarea name="system.description" rows="5">{{system.description}}</textarea>
    </div>
  </section>
</form>